@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital@1&family=Poppins:ital@0;1&display=swap");
:root {
  --color-primary: #33e29a;
  --color-terceary: #4caf50;
  --color-sencudary: #525252;
  --color-quartyary: #f5f5f5;
  --font-text: "Poppins", sans-serif;
  --font-title: "Kufam", sans-serif;
  --font-size-text: 1rem;
  --font-size-title: 2rem;
  --font-size-sub-title: 1.5rem;
  --blur-low: 2.5px;
  --blur-hard: 10px;
}
@font-face {
  font-family: "font-title";
  src: url("../assets/fonts/Rostley_PERSONAL_USE_ONLY.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}
main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgs/backgroud-leão.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  /* Cria uma gradação em todas as direções */
}
/* scrool bar */
::-webkit-scrollbar {
  background-color: var(--color-sencudary);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--color-quartyary);
  border-radius: 10px;
}
/* ----------------cabeçalho --------------------*/
header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  gap: 20px;
  height: 15vh;
}
header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div > div > img {
  width: 120px;
}
header > div > div > span {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color-quartyary);
}
header > div > nav {
  display: flex;
  gap: 48px;
}
.btn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 8px;
  color: var(--color-quartyary);
  font-size: var(--font-text);
  position: relative;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}
.btn::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
.btn:hover::after {
  width: 100%;
}

#focus {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(var(--blur-low));
  color: var(--color-primary);
}

/* seleciona o idioma */
.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.languages-type {
  all: unset;
  color: var(--color-terceary);
  font-weight: bold;
  font-size: var(--font-text);
}
.languages::after {
  content: url(../assets/imgs/selecionar.png);
  transform: translate(-1px, -6px);
  width: 10px;
  height: 10px;
}
.idioma {
  all: unset;
}
.languages-type:hover,
.idioma:hover {
  cursor: pointer;
}
/* nav bar mobile */
.nav-mobile {
  background-color: #0000008c;
  backdrop-filter: blur(var(--blur-hard));
  background-position: center;
  display: none;
  font-size: var(--font-title);
  color: var(--color-quartyary);
  width: 98vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
} /* haburguinho */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list.active {
  z-index: 1;
  transform: translateX(0);
}

/*-----------------Corpo------------------------*/
main > section {
  margin: auto;
  padding: 30px;

  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(38, 38, 38, 0.46);
  border: 1px solid rgba(115, 115, 115, 0.5);
  backdrop-filter: blur(var(--blur-low));
  border-radius: 12px;
  gap: 20px;
}
main > section > iframe {
  width: 90%;
  height: 300px;
}
main > section > div > p,
h3 {
  text-indent: 20px;
  color: var(--color-quartyary);
  text-align: justify;
}
main > section > section > p,
main > section > section > h2,
main > section > section > ul {
  color: var(--color-quartyary);
  padding: 15px;
}

/* Tabela */
table {
  border-collapse: collapse;
  color: black;
  width: 100%;
}

table > thead > tr > th {
  text-align: left;
  background-color: #77e87590;
  padding: 15px;
}
table > tbody > tr > td {
  padding: 15px;
}
table > tbody > tr:nth-child(odd) {
  background-color: #5cc26aa2;
}
table > tbody > tr:nth-child(even) {
  background-color: #77e875b1;
}
figcaption {
  color: #ffffffab;
  text-align: center;
}
/* Duvidas */
main > section > section > article {
  background-color: #5cc26aa2;
  border-radius: 10px;
  padding: 20px;
}
.container-4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main > section > section > article > h3 {
  color: black;
  display: flex;
  justify-content: space-between;
}
main > section > section > article > div {
  display: none;
  transition: 0.5s ease-in-out;
}

main > section > section > article > h3 {
  color: black;
  cursor: pointer;
}
main > section > section > article > h3 > i {
  transform: rotate(-90deg);
  transform: translateY(3px);
}
ul {
  transform: translateX(20px);
}
ul > li {
  padding: 5px;
}
main > section > section > article > div > ul {
  transform: translateX(60px);
}
/*------------------Rodapé--------------------*/
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 6vh;
}
/* espaçamento entre cada elemento */
footer > span {
  display: flex;
  gap: 0px 30px;
}
footer > span > a {
  all: unset;
  transition: 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  background: rgba(136, 133, 133, 0.46);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
footer > span > a:hover {
  width: 150px;
  justify-content: center;
}
/* imagem ddo icone rodapé */
footer > span > a > img {
  width: 40px;
}
.text-social-midia {
  color: black;
  font-weight: bold;
}

/* cada elemento do rodamento*/
footer > span > a:nth-child(1):hover {
  background-color: #3b5998;
}

footer > span > a:nth-child(2):hover {
  background-color: var(--color-quartyary);
}
footer > span > a:nth-child(3):hover {
  background-color: #ec3377;
}
footer > span > a:nth-child(4):hover {
  background-color: #0e76a8;
}
footer > span > a:nth-child(5):hover {
  background-color: #2bb741;
}
/*-------- Estilização mobile----------- */

.nav-list {
  list-style: none;
  display: none;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--color-quartyary);
  margin: 8px;
  transition: 0.3s;
}
/*---------------------------RESPONSIVIDADE--------------------*/
/* Laptop */
@media (max-width: 1988px) {
  main > section {
    width: 60vw;
  }
}
@media (max-width: 1500px) {
  main > section {
    width: 70vw;
  }
}
@media (max-width: 1024px) {
  main > section {
    width: 90vw !important;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    display: flex;
    position: absolute;
    top: 0vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #0000008c;
    backdrop-filter: blur(var(--blur-hard));
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    position: fixed;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 45px;
    z-index: 2;
    position: fixed;
  }
  header > div > nav {
    display: none;
  }
  main > section {
    width: 90%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
}
/* mobile L */
@media (max-width: 425px) {
  main > section {
    width: 100vw !important;
  }
  .nav-list {
    width: 80vw;
  }
  header > div > div {
    flex-direction: column;
  }
  header > div > div > span {
    transform: translateY(-30px);
  }
  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    position: fixed;
  }
  /*----------------Rodapé------------------*/

  /* espaçamento entre cada elemento */

  footer > span > a:hover {
    width: 120px;
    justify-content: center;
  }
  /* imagem ddo icone rodapé */
  footer > span > a > img {
    width: 25px;
  }
  footer > span > a {
    width: 30px;
    height: 30px;
  }
}
/* mobile M */
@media (max-width: 375px) {
}
/* mobile S */
@media (max-width: 320px) {
}

/* animções */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
