@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital@1&family=Poppins:ital@0;1&display=swap");
:root {
  --color-primay: #4caf50;
  --color-litgh: #f5f5f5;
  --color-dark: #000;
  --bg-color: rgba(38, 38, 38, 0.46);
  --glasmorfismo-links: rgba(255, 255, 255, 0.16);
  --font-text: "Poppins", sans-serif;
  --font-title: "Kufam", sans-serif;
  --font-size-text: 16px;
  --font-size-title: 32px;
  --font-size-sub-title: 24px;
  --font-size-title-doutbs: 18px;
  --blur-low: 2.5px;
  --blur-hard: 10px;
}
@font-face {
  font-family: "font-title";
  src: url("../assets/fonts/Rostley_PERSONAL_USE_ONLY.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 300px;
}
main {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  /* Cria uma gradação em todas as direções */
}
/* scrool bar */
::-webkit-scrollbar {
  background-color: var(--color-dark);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--color-litgh);
  border-radius: 10px;
}
/* ----------------cabeçalho --------------------*/
header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  gap: 20px;
  height: 15vh;
  position: sticky;
  top: 10px;
  z-index: 2;
}
header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
}

header > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div > div > img {
  width: 120px;
}
header > div > div > span {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color-litgh);
}
header > div > nav {
  display: flex;
  gap: 48px;
  padding: 10px;
}

.btn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 8px;
  color: var(--color-litgh);
  font-size: var(--font-size-text);
  position: relative;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}
.btn::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: var(--color-litgh);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
.btn:hover::after {
  width: 100%;
}
/* Font-size */
.font-size {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-size > input[type="range"] {
  cursor: pointer;
}

.font-size::before {
  content: "A-";
  color: var(--color-litgh);
  position: relative;
  font-size: 10px;
  left: -20px;
  cursor: pointer;
}

.font-size::after {
  content: "A+";
  color: var(--color-litgh);
  position: relative;
  font-size: 20px;
  left: 20px;
  cursor: pointer;
}

#focus {
  background: var(--glasmorfismo-links);
  backdrop-filter: blur(var(--blur-low));
  color: var(--color-litgh);
}
/* seta */
#seta {
  color: var(--color-litgh);
}
/* seleciona o idioma */
nav > .languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25px;
  right: 20px;
}
.languages-type {
  all: unset;
  color: var(--color-primay);
  font-weight: bold;
  font-size: var(--font-size-text);
}
.idioma {
  all: unset;
}
.languages-type:hover,
.idioma:hover {
  cursor: pointer;
}

/* haburguinho */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list.active {
  z-index: 1;
  transform: translateX(0);
}

/*-----------------Corpo------------------------*/
main > section {
  margin: auto;
  padding: 30px;

  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border: 1px solid var(--color-litgh);
  backdrop-filter: blur(var(--blur-low));
  border-radius: 12px;
  gap: 20px;
}

main > section > div > p,
h3 {
  text-indent: 20px;
  color: var(--color-litgh);
  text-align: justify;
}
main > section > section > p,
main > section > section > h2,
main > section > section > ul {
  color: var(--color-litgh);
  padding: 15px;
}
p {
  font-size: var(--font-size-text);
}
h2 {
  border-bottom: 2px solid var(--color-litgh);
  font-size: var(--font-size-sub-title);
}
/* Video */
#video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tabela */
table {
  border-collapse: collapse;
  color: var(--color-dark);
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border: 2px solid var(--color-litgh);
  font-size: var(--font-size-text);
}

table > thead > tr > th {
  text-align: left;
  background-color: var(--color-litgh);
  color: var(--color-dark);
  padding: 15px;
}
table > tbody > tr > td {
  padding: 15px;
}
table > tbody > tr:nth-child(odd) {
  background-color: var(--color-dark);
  color: var(--color-litgh);
}
table > tbody > tr:nth-child(even) {
  background-color: var(--color-litgh);
  color: var(--color-dark);
}
figcaption {
  color: #ffffffab;
  text-align: center;
}
/* Local */
.container-2-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container-2-5 > h2 {
  width: 100%;
}

/* Duvidas */
main > section > section > article {
  background-color: var(--color-litgh);
  color: var(--color-dark);
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
}
.container-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main > section > section > article > h4 {
  color: var(--color-dark);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-title-doutbs);
}
main > section > section > article > div {
  display: none;
  transition: 0.5s ease-in-out;
}

main > section > section > article > h3 > i {
  transform: rotate(-90deg);
  transform: translateY(3px);
}
ul {
  transform: translateX(20px);
}
ul > li {
  padding: 5px;
  font-size: var(--font-size-text);
}
main > section > section > article > div > ul {
  transform: translateX(60px);
}
/*------------------Rodapé--------------------*/
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 6vh;
}
/* espaçamento entre cada elemento */
footer > span {
  display: flex;
  gap: 0px 30px;
}
footer > span > a {
  all: unset;
  transition: 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  background: rgba(136, 133, 133, 0.46);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
footer > span > a:hover {
  width: 150px;
  justify-content: center;
}
/* imagem ddo icone rodapé */
footer > span > a > img {
  width: 40px;
}
.text-social-midia {
  color: black;
  font-weight: bold;
}

/* cada elemento do rodamento*/
footer > span > a:nth-child(1):hover {
  background-color: #3b5998;
}

footer > span > a:nth-child(2):hover {
  background-color: #fff;
}
footer > span > a:nth-child(3):hover {
  background-color: #ec3377;
}
footer > span > a:nth-child(4):hover {
  background-color: #0e76a8;
}
footer > span > a:nth-child(5):hover {
  background-color: #2bb741;
}
/* switch-theme */
.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-litgh);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: 0.15s;
  color: var(--color-litgh);
}

.switch-theme:hover {
  background-color: var(--color-litgh);
  color: var(--color-dark);
}
/*-------- Estilização mobile----------- */

.nav-list {
  list-style: none;
  display: none;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--color-litgh);
  margin: 8px;
  transition: 0.3s;
}
/*---------------------------RESPONSIVIDADE--------------------*/
/* Laptop */
@media (max-width: 1988px) {
  main > section {
    width: 60vw;
  }
}
@media (max-width: 1500px) {
  main > section {
    width: 70vw;
  }
}
@media (max-width: 1300px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
  }
  header {
    position: relative;
  }
  main > section {
    width: 90vw !important;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    display: flex;
    position: absolute;
    top: 0vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: var(--color-dark);
    backdrop-filter: blur(var(--blur-hard));
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    position: fixed;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  nav > ul > li > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 45px;
    z-index: 2;
    position: fixed;
  }
  .nav-list.active::before {
    content: " ";
    background: var(--glasmorfismo-links);
    backdrop-filter: blur(var(--blur-low));
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
  }
  header > div > nav {
    display: none;
  }
  main > section {
    width: 90%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  :root {
    --color-primay: #4caf50;
    --color-litgh: #f5f5f5;
    --color-dark: #000;
    --bg-color: rgba(38, 38, 38, 0.46);
    --glasmorfismo-links: rgba(255, 255, 255, 0.16);
    --font-text: "Poppins", sans-serif;
    --font-title: "Kufam", sans-serif;
    --font-size-text: 0.8rem;
    --font-size-title: 2rem;
    --font-size-sub-title: 1.2rem;
    --blur-low: 2.5px;
    --blur-hard: 10px;
  }
  iframe,
  .container2-5 > iframe {
    width: 100%;
    height: 250px;
  }
}
/* mobile L */
@media (max-width: 425px) {
  iframe,
  .container2-5 > iframe {
    width: 100%;
    height: 230px;
  }
  main > section {
    width: 100vw !important;
  }
  .nav-list {
    width: 80vw;
  }
  .nav-list.active::before {
    content: " ";
    background: var(--glasmorfismo-links);
    backdrop-filter: blur(var(--blur-hard));
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -25%;
  }
  header > div > div {
    flex-direction: column;
  }
  header > div > div > span {
    transform: translateY(-30px);
  }
  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    position: fixed;
  }
  /*----------------Rodapé------------------*/

  /* espaçamento entre cada elemento */

  footer > span > a:hover {
    width: 120px;
    justify-content: center;
  }
  /* imagem ddo icone rodapé */
  footer > span > a > img {
    width: 25px;
  }
  footer > span > a {
    width: 30px;
    height: 30px;
  }
}
/* mobile M */
@media (max-width: 375px) {
  iframe,
  .container2-5 > iframe {
    width: 100%;
    height: 180px;
  }
}
/* mobile S */
@media (max-width: 320px) {
  iframe,
  .container2-5 > iframe {
    width: 100%;
    height: 145px;
  }
}

/* animções */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
